*.gem
*.rbc
.bundle
.config
InstalledFiles
lib/bundler/man
test/tmp
test/version_tmp
tmp

pkg # jeweler generated

# yard generated
doc/
.yardoc
_yardoc

spec/reports
coverage # rcov generated
rdoc # rdoc generated

# sqlite3 database
*.sqlite3
*.sqlite

Gemfile.lock

.rvmrc
.ruby-version
.ruby-gemset
.powrc

# For MacOS:
.DS_Store

# For TextMate
*.tmproj
tmtags

# For emacs:
*~
\#*
.\#*

# For vim:
*.swp

# for rubymine IDE
.idea/

vendor

